json_data = {
    'mds': {},
    'client': {
        'client.volumes': { 'keyring': '/etc/ceph/volumes.keyring'},
        'client.cinder': {'keyring': '/etc/ceph/cinder.keyring'},
        'client.images': {'keyring': '/etc/ceph/images.keyring'}
    },
    'mon': {'hosts': 'ceph21, ceph22, ceph23'},
    'osd': {
        'hosts': 'ceph21',
        'ceph21': {'devs': '/dev/vdb, /dev/vdc'}
    }
}
